body {
  margin: 0;
  padding: 0;
  font-family: "CS Kirisame Latin D", Arial, sans-serif;
  background: #f7f7f7;
  font-size: 14px;
}

#contents {
  max-width: 720px;
  padding: 0.2em 16px 5em;
  margin-left: 120px;
  text-align: justify;
  line-height: 1.4;
}

.show {
  background: white;
  padding: 10px ;
  border: 1px solid #ccc;
  margin: 10px -1px;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 12px;
}
.show {position: relative}
.comm {
  padding: 10px;
  margin: 10px -1px;
  border: none;
  background: #e7e7e7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.show > :first-child, .comm > :first-child{
  margin-top: 0;
}
.show > :first-child, .comm > :last-child{
  margin-bottom: 0;
}

.show + .comm {
  margin-top: -11px;
}
.comm + .show {
  margin-top: 24px;
}

#headarea {
  margin: -0.2em -16px 0;
  padding: 0.2em 16px 0;
  border-bottom: 1px solid #ddd
}

#headarea .pageinfo {
  font-size: smaller;
  margin: 0.6em 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 1.2em;
  margin-bottom: 0.6em
}

h1 { font-size: 2.55em }
h2 { font-size: 1.6em }

h1 a, h2 a {
  text-decoration: none;
  color: inherit;
}

h1 a:hover, h2 a:hover {
  color: #555;
  text-decoration: underline;
}



h1[id]:hover:after,
h2[id]:hover:after {
  content: " #" attr(id);
  color: #777;
}

.apiTitle+.apiTitle {
  font-size: medium;
  margin-top: 0;
  margin-left: 1em;
}

/* pre, code, kbd, and blockquote */
blockquote { font-size: 0.9em }

pre, code, kbd {
  font-family: "CS Kirisame Latin D Mono", "Consolas", "DejaVu Sans Mono", monospace;
  font-size: 1em;
}

code i {
  font-family: "Linux Libertine", Palatino, Garamond, Times, Georgia;
  font-size: 1.11em;
}

pre {
  white-space: pre-wrap;
  text-align: left;
}
.comm > pre {
  background: #eee;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px 10px;
}
.comm > pre:last-child{
  margin-bottom: -10px;
}

blockquote {
  border-left: thick solid #ccc;
  padding: 0 1em;
}

hr {
  border: none;
  border-top: thin solid #ccc;
}

table {
  border-top: double black;
  border-bottom: thin solid black;
  border-spacing: 0;
  margin: 0 auto;
}

th {
  border-bottom: thin solid black;
}

td {
  padding: 0 0.5em;
}

table.plain {
  border-top: none;
  border-bottom: none;
}

table.plain th {
  border-bottom: none;
}

dd {
  margin-left: 1.5em;
}

merror {
  display: inline;
  font-size: 1em;
}

math[display=block] {
  overflow: auto;
  margin: 0.75em 0;
}

math {
  white-space: nowrap;
}

hr { margin: 0; padding: 0 }
.clear { clear: both }

.eq-number {
  float: right;
}

/* footnotes */
a.noteref {
  font-size: 0.7333em;
  vertical-align: super;
}

#notes > li > p {
  display: inline;
}

/* images */
div.image {
  text-align: center;
  margin: 2em;
}

div.image img {
  border: thin solid #ccc;
  padding: 2px;
}

div.image p {
  margin:0;
}

div.image p strong {
  display: block;
}

/* meta content */
.meta {
  font-family: sans;
  font-size: 0.875em;
}

.meta,
.meta a:link,
.meta a:visited {
  color: #888;
}

.meta a:hover {
  color: #444;
}

h1 + div.dateline  {
  position: relative;
  top: -1.5em;
  text-transform: uppercase;
}

#mathml-notice {
  float: right;
  width: 11em;
  border: thin solid #ccc;
  margin-left: 1.0em;
  font-size: 0.8em;
  padding: 0.5em;
}

#mathml-notice img {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 0.5em;
}

/* error pages */
.error .icon {
  float: left;
  font-size: 4em;
  line-height: 1em;
  margin-right: 0.2em;
  color: #900;
}

/* code */
code {
  color: rgb(152,60,57);
}

/* mghl */
pre.mghl span.keyword {
  color:rgb(54,95,145);
}
pre.mghl span.string, 
pre.mghl span.quote {
  color:rgb(127,117,63);
}
pre.mghl span.operator {
  color: rgb(152,60,57);
}
pre.mghl span.comment {
  color: rgb(85,129,49);
}

.comparsion {
  overflow: hidden
}
.comparsion .caption {
  font-size: 1em;
  margin-bottom: 0;
  font-size: smaller;
}
.comparsion > pre {
  float: left;
  width: 50%;
  font-size: smaller;
}

.seealso {
  font-size: smaller;
  font-style: italic;
  margin-left: 1em;
}

pre.syntax {
  font-size: 1em;
  font-family: Times;
  margin: 0;
  padding: 0.5em 1em;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999
}
pre.syntax + pre.syntax{
  border-top: none
}
pre.syntax ul {
  margin: 0 0 0 2em;
  padding: 0;
  list-style: none;
}
pre.syntax .literal {
  font-weight: normal;
  color:rgb(54,95,145);
  font-family: "DejaVu Sans Mono", monospace;
}
pre.syntax .repeat {
  font-weight: bold;
  color:rgb(54,95,145);
  font-family: "DejaVu Sans Mono", monospace;
}
pre.syntax .punctor {
  color: rgb(152,60,57)
}
pre.syntax .slot {
  font-style: italic;
}
